@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Default */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: #fff;
}

/* Navigation Bar Style */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background: #09001d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header img{
    height: 80px;
    width: 80px;
    padding: 0;
    object-fit: contain;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    transition: .3s;
}
li a:hover {
    background-color: #09cee819;
}
.navbar .active {
    color: #09CFE8;
}
.navbar li .active{
    border-top: 3px solid #09CFE8; 
}

.name {
    color: #09CFE8;
}

/* Tiktok Page */



/* Quizzes Page */
.quiz {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    color: #100E13;
    position: absolute;
}

.home-content h1 {
    color: #100E13;
    font-size: 78px;
    font-weight: 700;
}

.home-content p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    margin: 20px;
    padding: 20px;
    width: 300px;
    min-height: 400px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    overflow: hidden;
}
.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}
.card__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 120px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    transition: .3s;
    padding: 4px 10px;
    border-radius: 20px;
    border: solid #ffffffae;
    transition: 0.3s;
    margin-top: 20px;
}
.card__link:hover::after {
    width: 100%;
}
.card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: #100E13;
    font-weight: 500;
    margin-top: -70px;
}
.card__apply {
    grid-row: 4/5;
    align-self: center;
    font-weight: 500;
    font-style: italic;
}
.card-1 {
    background:#00A9BF;
}
.card-2 {
    background:#0096AA;
}
.card-3 {
    background:#008494;
}
.card-4 {
    background:#00717F;
}
.card-5 {
    background:#005E6A;
}
.card-6 {
    background:#0096AA;
}
.card-7 {
    background:#008494;
}
.card-8 {
    background:#00717F;
}
.card-9 {
    background:#005E6A;
}
.container {
    background-color: #fff;
    margin-top: 60px;
    height: 250px;
    width: 400px;
    border-radius: 10px;
}
.container p {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 400;
}
.card_img {
    width: 300px;
    margin: 5px 0 0 10px;
    border-radius: 6px;
}
.main-container {
    padding-top: 50px;
}
.quiz-title h1{
    font-size: 70px;
    font-weight: 800;
}
.quiz-title p {
    font-size: 20px;
    font-weight: 400;
}
.quiz-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40vh;
    width: 100%;
    background: #03c5df2f;
}

/*About*/
.title {
    padding-top: 150px;
}

.title h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.title p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.about {
    display: flex;
    margin: 0 10%;
    padding-top: 100px;
    justify-content: center;
}

.about img {
    width: 900px;
    height: 500px;
    border-radius: 8px;
}
.about img:hover {
    
}

.about p {
    padding-left: 50px;
    padding-top: 150px;
    text-align: justify;
}

.about p span {
    font-size: 30px;
    font-weight: 700;
}

.about-content{
    margin: 0 10%;
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    padding-bottom: 100px;
}

.about-content .mission {
    text-align: justify;
    padding: 20px;
}

.about-content h2 {
    text-align: center;
    padding-bottom: 10px;
}

.about-content .vision {
    text-align: justify;
    padding: 20px;
}

/*Members Gallery */
.children{
    margin: auto;
    text-align: center;
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    background: url("pictures/2.2.png") center/cover;
    animation: fadeIn 2s;
}
.title h1{
    font-size: 50px;
    font-weight: 800;
    color:#005E6A;
    text-transform: uppercase;
}
.title p{
    font-size: 20px;
}
.children .info{
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.children .wrapper{
    padding-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 50px;
}
.children .cards{
    width: 360px;
    height: 300px;
    padding: 2rem 1rem;
    background-attachment: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgb(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}
.children .cards:hover{
    transform: translateY(20px);
}
.children .cards:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.children .cards:hover:before{
    opacity: 1;
}
.children .cards img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.children .cards .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s all;
}
.children .cards:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.children .cards .info h1{
    margin: 0;
    font-size: 20px;
    text-transform: capitalize;
    color: white;
}
.children .cards .info p{
    letter-spacing: 1px;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 5px;
}
.containers {
    margin-bottom: 80px;
}
.lg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lg h1{
    text-transform: uppercase;
    font-size: 50px;
}

.lg h3{
    font-size: 30px;
}

/*Prompt*/
.prompt {
    background-color: #00717F;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prompt-content {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 700px;
    margin-top: -100px;
}

.prompt img {
    height: 150px;
}

.prompt-content h2 {
    font-size: 50px;
    color: #fff;
}

.prompt-content p {
    color: #fff;
    padding-bottom: 30px;
}
.buttons {
    display: flex;
    justify-content: space-around;  
    max-width: 60%;
    margin-left: 18%;
}

.buttons a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
    padding: 8px 55px;
    border-radius: 50px;
    border: solid #fff;
}

#cancel {
    background-color: transparent;
}

#proceed {
    background-color: #fff;
    color: #005E6A;
    font-weight: 600;
}

.instruction {
    background: #00717F;
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    overflow: scroll;
}

.instruction-content {
    max-width: 85%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.instruction-content h3 {
    padding-bottom: 20px;
    font-size: 30px;
}

.instruction-content .sub-title {
    padding-bottom: 50px;
}

.instruction-content p {
    font-size: 18px;
    padding-bottom: 100px;
}

.instruction-content a {
    display: flex;
    justify-content: center;
    width: 200px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
    padding: 7px 5px;
    border-radius: 50px;
    border: solid #fff;
    transition: 0.3s;
}

.instruction-content a:hover {
    background: #fff;
    color: #005E6A;
}

/* Responsiveness */
@media screen and (max-width: 1800px) {
    .main-container {
        margin-top: 300px;
    }
}

@media (max-width: 1600px) {
    .cards {
    justify-content: center;
    }
}

@media screen and (max-width: 1000px) {
    .main-container {
        margin-top: 800px;
    }
    .about img {
        width: 600px;
        height: 300px;
    }
}

@media screen and (max-width: 900px) {
    .navbar {
        display: none;
        transition: 3s ease-in;
    }
}

@media screen and (max-width: 700px) {
    .main-container {
        margin-top: 1650px;
    }
    .prompt-content p {
        display: block;
        max-width: 600px;
    }
    .instruction-content h3 {
        padding-bottom: 20px;
        font-size: 20px;
    }
    
    .instruction-content p {
        font-size: 14px;
        padding-bottom: 50px;
    }
    
    .instruction-content a {
        width: 150px;
        font-size: 14px;
        border-radius: 40px;
    }
}

@media screen and (max-width: 600px) {
    .prompt-content p {
        font-size: 14px;
        max-width: 500px;
    }
    .prompt-content h2 {
        font-size: 45px;
    }

    .buttons a {
        font-size: 14px;
        padding: 8px 40px;
        border-radius: 40px;
    }
    
    .about img {
        width: 450px;
        height: 250px;
    }
}

/* Mobile Phone */
@media screen and (max-width: 450px) {
    .logo {
        
    font-size: 22px;
    }
    .prompt-content p {
        font-size: 10px;
        max-width: 300px;
    }
    .prompt-content h2 {
        font-size: 30px;
    }

    .buttons a {
        font-size: 12px;
        padding: 6px 25px;
        border-radius: 40px;
        display: flex;
        justify-content: space-between;
    }
    .buttons{
        margin-left: 15%;
        margin-right: 20%;
    }
    #cancel {
        margin-right: 10px;
    }
    .prompt-content img {
        height: 100px;
    }
    .instruction-content h3 {
        padding-bottom: 10px;
        font-size: 20px;
    }
    .sub-title{
        font-size: 12px;
        padding-bottom: 0;
    }
    .instruction-content p {
        font-size: 10px;
        padding-bottom: 30px;
    }
    
    .instruction-content a {
        width: 120px;
        padding: 5px 5px;
        font-size: 12px;
        border-radius: 20px;
    }
    .instruction-content {
        max-width: 85%;
        margin-top: 50px;
    }
    .instruction {
        align-items:normal;
        text-align: justify;
        overflow: scroll;
    }
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #005E6A;
}
.footer p {
    font-size: 0.938rem;
    color: #fff;
}

